<!DOCTYPE html>
<html lang="en">
  <head>
    <title>status</title>
    <% include templates/head.ejs%>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
      window.onload = function () {
        var dataPoints = [];

    		  var chart = new CanvasJS.Chart("chartContainer",{
    			  title:{
    				text: "Weekly Report"
    			  },
            animationEnabled: true,
    			  axisY: {
    				title: "Cups Drank",
            includeZero: false,
    				suffix: "cups"
    			  },
    			  data: [{
      				toolTipContent: "{y} units",
      				type: "splineArea",
      				markerSize: 5,
      				color: "rgba(54,158,173,.7)",
      				dataPoints:[
                { label: <%- data%>[6][0], y: <%- data%>[6][1] },
                { label: <%- data%>[5][0], y: <%- data%>[5][1] },
                { label: <%- data%>[4][0], y: <%- data%>[4][1] },
                { label: <%- data%>[3][0], y: <%- data%>[3][1] },
                { label: <%- data%>[2][0], y: <%- data%>[2][1] },
                { label: <%- data%>[1][0], y: <%- data%>[1][1] },
                { label: <%- data%>[0][0], y: <%- data%>[0][1] },






              ]
    			  }]
        });
      //}
      chart.render();
    }
</script>
  </head>
  <body>
    <% include templates/header.ejs%>
    <div class="container row" id="today">
      <div class="col-md-8 col-md-offset-2">
      </div>
    </div>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <% include templates/footer.ejs%>
  </body>
</html>
